<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si le fichier ou le dossier demandé n'existe pas,
    # on ajoute l'extension .php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([^/]+)/?$ $1.php [L,QSA]
</IfModule>

# Désactiver l'indexation des dossiers
Options -Indexes
