@layer components {

main form {
  @apply flex flex-col space-y-4;
  .form-group {
    @apply flex flex-col gap-2;
  }
  label {
    @apply text-lg font-semibold;
  }
  input {
    @apply self-stretch pl-3 pr-14 py-2 bg-[#301954] rounded-md outline-1 outline-[#6536B0] inline-flex justify-start items-center text-columbia-blue ;

    &:focus-within {
      @apply outline-3 outline-offset-1 outline-[#6536B0] ring-2 ring-[#9E7DD5];
    }
  }
}

input[type="checkbox"] {
  @apply appearance-none border-[#6536B0] checked:bg-[#6536B0] checked:border-[#6536B0] rounded-xs p-2 accent-[#6536B0] cursor-pointer;

  &:checked:before {
    @apply bg-[#6536B0] border-[#6536B0] text-white text-center absolute w-4 h-4;
    content: "✓";
  }
}

.btn-primary {
  @apply bg-grape text-celeste py-2 px-4 rounded-md shadow-[0px_4px_6px_0px_rgba(0,0,0,0.09)] flex items-center;

  .btn-text {
    @apply text-sm--line-height font-medium;
  }
  i {
    @apply text-4xl font-black;
  }
  &:hover {
    @apply bg-grape-light text-columbia-blue;

    @apply transition-all duration-300 ease-in-out;

    i {
      @apply ml-2;

      @apply transition-all duration-300 ease-in-out;
    }
  }
  &.outline {
    @apply bg-transparent text-columbia-blue border border-grape;
  }
  }
  .btn-icon-circle {
    @apply text-5xl text-celeste font-bold flex items-center gap-2;
    @apply transition-all duration-300 ease-in-out;

    i {
      @apply text-3xl bg-grape text-amethyst-light rounded-full p-3 leading-none;
      @apply transition-all duration-300 ease-in-out;
      &::before {
        @apply font-black;
      }
    }

    &:hover {
      @apply text-celeste text-4xl gap-4;
      @apply transition-all duration-300 ease-in-out;

      i {
        transform: scale(1.2);
        @apply transition-all duration-300 ease-in-out;
      }
    }
  }
  
  .icon {
    @apply text-3xl bg-grape text-amethyst-light rounded-full p-3;
    @apply transition-all duration-300 ease-in-out;
    &::before {
      @apply font-black;
    }
    &:hover {
      @apply text-celeste text-4xl gap-4;
      @apply transition-all duration-300 ease-in-out;

      i {
        transform: scale(1.2);
        @apply transition-all duration-300 ease-in-out;
      }
    }
  }
}
