@import './tailwind.css';

body {
  background-color: var(--color-grape-black);
  color: var(--color-amethyst-light);
  font-family: var(--font-sans);
  font-size: var(--text-base);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

@import './components.scss';
@import './header.scss';

@import './account/auth.scss';

@keyframes logo-bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2px);
  }
}

.hero {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body .hero {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .title {
      width: 100%;
      font-size: var(--text-9xl);
      color: var(--color-grape);
      font-weight: var(--font-weight-extrabold);
      letter-spacing: var(--tracking-tight);
    }

    .description {
      width: 66.666667%;
      font-size: var(--text-2xl);
      color: var(--color-amethyst-light);
      font-weight: var(--font-weight-light);
      letter-spacing: var(--tracking-wide);
      text-align: right;
    }
  }
}

main[data-page="home"] {
  width: 55rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
  position: relative;

  .logo {
    width: 12rem;
    height: auto;
    transform: rotate(-15deg);
    position: absolute;
    left: 0;
    bottom: 0;
    animation: logo-bounce 2s infinite;
    transition: all 0.3s ease-in-out;

    img {
      width: 100%;
      height: auto;
    }
  }
}

section[data-page="discover"] {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;

  .movie-card {
    display: flex;
    gap: 1rem;

    .movie-poster {
      width: 16rem;

      img {
        width: 100%;
        height: auto;
        border-radius: 0.25rem;
      }
    }

    .movie-poster~div {
      width: 12rem;
    }

    .movie-title>.logo {
      width: auto;
    }

    .movie-info {
      display: flex;
      align-items: center;
      gap: 1rem;

      .movie-details {
        display: flex;
        gap: 0.25rem;
        font-size: var(--text-xl);
        font-weight: var(--font-weight-semibold);
        color: var(--color-columbia-blue);
      }
    }

    .movie-actions {
      .btn-icon-circle i {
        font-size: var(--text-sm);
      }
    }
  }

  ~main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  ~main section {
    width: 83.333333%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
      font-size: var(--text-3xl);
      color: var(--color-grape);
      font-weight: var(--font-weight-semibold);
      letter-spacing: var(--tracking-tight);
    }

    .row {
      display: flex;
      gap: 1rem;
      overflow-x: auto;

      .movie-card {
        max-width: 16rem;

        .movie-poster {
          width: 16rem;

          img {
            width: 100%;
            height: auto;
            border-radius: 0.25rem;
          }
        }
      }
    }
  }
}
