@import './tailwind.css';

body {
  background-color: var(--color-grape-black);
  color: var(--color-amethyst-light);
  font-family: var(--font-sans);
  font-size: var(--text-base);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}

@import './components.scss';

@import './header.scss';

body[data-layout="home"] {
  @import './pages/home.scss';
}

body[data-layout="discover"] {
  @import './pages/discover.scss';
}

body[data-layout="auth"] {
  @import './pages/account/auth.scss';
}

body[data-layout="account"] {
  @import './pages/account/profile.scss';
}

body[data-layout="error"] {
  @import './pages/error.scss';
}

@import './footer.scss';
