body > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-grape-black);
  color: var(--color-amethyst-light);
  
  padding: 0.46875rem 1.25rem;
  max-width: fit-content;

  border-radius: 0.375rem;
  border: 1.5px solid var(--slate-100, #F1F5F9);

  /* shadow */
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09);
}
