body>header {
  position: absolute;
  top: 0;
  justify-self: flex-start;
  display: inline-flex;
  @apply mt-12 mb-12;
  align-items: center;
  gap: 13.125rem;
  background-color: var(--color-grape-black);
  color: var(--color-amethyst-light);

  @apply px-5 py-2;

  border-radius: 0.375rem;
  border: 1.5px solid var(--slate-100, #F1F5F9);

  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09);
}
